*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,body{
    overflow-x: hidden;
    max-width: 100%;
}
/* TOP NAVBAR */

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 17px 15vw;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 7px;
}
.contact i{
    font-size: 12px;
    color: cyan;
}
.contact :nth-child(3){
    font-size: 13px;
}
.contact p{
    font-size: 14px;
}
.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
}
.nav-icons a:nth-child(1){
   background-color: rgb(37, 101, 197);
   color: white;
   padding: 4px 9px;
   font-size: 12px;
}
.nav-icons a:nth-child(2){
   background-color:rgb(0, 183, 255);
   color: white;
   padding: 4px 9px;
   font-size: 12px;
}
.nav-icons a:nth-child(3){
   background-color: rgb(76, 185, 123);
   color: white;
   padding: 4px 9px;
   font-size: 12px;
}
.nav-icons a:nth-child(4){
   background-color: rgb(42, 135, 189);
   color: white;
   padding: 4px 9px;
   font-size: 12px;
}
.nav-icons a:nth-child(5){
   background-color: rgb(166, 4, 4);
   color: white;
   padding: 4px 9px;
   font-size: 12px;
}
@media(max-width:768px){
    .nav-icons{
    display: none;
}    
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:17px 15px;
    }
    .contact p{
        margin-right: 5px;
    }
}

/* BOTTOM NAVBAR */

.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: saddlebrown;
    height: 80px; 
     position: absolute;  
     z-index: 2;  
      width: 100%; 
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    margin-right: 5rem;
}
.nav-links ul li a,span{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
   
}
.logo{
    margin-left:70px;
}

.menu{
    display: none;
}
@media (max-width:768px) {
    .bottom-nav{
        display: flex;
        align-items: center;
        justify-content: space-between  ;
    }
    .menu{
        display: block;
    }
   .nav-links{
    display: none;
    }
}

/* MAIN CONTENT */
.banner { 
    background-image: url(../images/banner.jpg); 
    background-position: center;
    background-size: cover;
    height:calc(100vh - 80px); 
    width: 100%; 
    position: relative;
    z-index: 1;
}